* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about,
  .contactInfo,
  
  #backgroundImg{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;

  }

  .resume-right-col {
    background: #27221F;
    color: white;
    padding: 2em;
  }

  .loading-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8AD;
  }



  .email-layout{
    background: url('/images/contactIMG.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
      
  }

  .email-layout > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  @media screen and (max-width: 960px){
    .email-layout > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
    
  @media screen and (max-width: 768px){
    .email-layout > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1;
  }

.spinner-1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: rgb(60, 6, 255);
  animation: spinner 0.7s linear infinite;
}

.spinner-2:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: rgb(60, 6, 255);
  border-bottom-color:rgb(60, 6, 255);
  animation: spinner 0.7s ease infinite;
}

.spinner-3:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 2px solid rgb(60, 6, 255);
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

  