* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about,
  .contactInfo,
  
  #backgroundImg{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;

  }

  .resume-right-col {
    background: #27221F;
    color: white;
    padding: 2em;
  }

  .loading-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8AD;
  }

  .h1{
    position: center;
  }

  .email-layout{
    background: url('/images/contactIMG.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
      
  }

  .email-layout > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1;
  }

  